/* main */
@import "normalize.css";
@import "style.css";
@import "hover-min.css";


/* components */

@import "components/header.css";
@import "components/produkt2.css";
@import "components/hero.css";
@import "components/advantage.css";
@import "components/sert.css";
@import "components/delivery.css";
@import "components/form.css";
@import "components/footer.css";
@import "components/about.css";
@import "components/headernav.css";

/* colore */

:root {
  --black: black;
  --white: white;
  --brown :#872A18;
  --gray: #3D3C3E;
  --gray1:#777777;
  --orange: #ee591f;
  --green: #84e271;

}
