/* global */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

/* .body_wraper {
  overflow: hidden;
  width: 100%;
  position: relative;
} */


button {
  cursor: pointer;
}



.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.btn-reset {
  width: fit-content;
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.flex {
  display: flex;
  flex-direction: column;
}

/* .body-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
} */


.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-title {
  text-align: center;
  padding-top: 30px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 36px;
  color: #1C1C1C;

}

.section-offset {
  padding: 90px 0;
}

.btn {
    position: relative;
    outline: none;
    padding: 15px 35px;
    background: #3172B9;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;

}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border: 1px solid #71A7E2;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background: #84e271;
}

.btn:active {
  background: #0E3B6C;
}

:root {
  --gap: 30px;
}

.section__title__span {
  padding: 10px;
  background: var(--orange);
  color: var(--white);
  border-radius: 3px;
}
