.header {
  border-bottom: 1px solid #C4C4C4;
  background-color: #fff;


}

.header__top {
  background-color: #3172B9;
  color: var(--white);
}

.header__top__list {

  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
}

.header__top__area {
  display: flex;
  gap: 15px;
}

.header__top__area__mes i {
  content: "";
  background: url(/img/mesor.svg) no-repeat;
  position: relative;
  float: left;
  width: 48px;
  height: 48px;
}

.header__top__area__tel i {
  content: "";
  background: url(/img/telor.svg) no-repeat;
  position: relative;
  float: left;
  width: 48px;
  height: 48px;
}

.header__top__area__time i {
  content: "";
  background: url(/img/timeor.svg) no-repeat;
  position: relative;
  float: left;
  width: 48px;
  height: 48px;
}


.header__top__area__info {
  display: flex;
  flex-direction: column;
}

.header__container {
  align-items: center;
  flex-direction: row;
}



.header__logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 150px;
}

.header__logo__name {
  font-weight: 600;
  font-size: 25px;
  white-space: nowrap;
}

.header__nav {
  margin-right: 52px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 52px;
}

.nav__link {
  font-weight: 600;
  font-size: 20px;
  color: #1C1C1C;
  transition: color 0.5s ease-in-out;
}

.nav__link:focus {
  outline: 1px solid #71A7E2;
  outline-offset: 2px;
}

.nav__link:hover {
  color: #71A7E2;
}

.nav__link:active {
  color: #3172B9;
  border-bottom: 1px solid #3172B9;
  outline: none;

}
