
.hero{
  width: 100%;
  /* max-width: 1200px; */
  /* height: 500px; */
  margin: 0 auto;
  border-bottom: 1px solid #C4C4C4;
}


.hero__wrapper {
    background-image: linear-gradient(to top, rgba(15, 15, 15, 0.6), rgba(48, 47, 47, 0.144)), url(
      "/img/hero1.jpg");

    background-size: cover;
    color: var(--white);

  }

  .hero__title {
    padding-top: 90px;
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    color: var(--orange);
    text-shadow: rgb(7, 7, 7) 3px 3px 3px;



  }

  .hero__text {
    color: #f0f0f0;
    text-shadow: rgb(7, 7, 7) 3px 3px 3px;
    max-width: 40%;
    margin-bottom: 60px;
    text-align: left;
    font-size: 26px;
    line-height: 36px;
  }

  .hero__price {
    margin-bottom: 60px;
    text-align: left;
    font-size: 40px;
    font-weight: 900;
    color: var(--orange);
    text-shadow: rgb(7, 7, 7) 3px 3px 3px;
  }

  /* .header__btn {
    margin-bottom: 60px;

  } */

  .hero__contact {
    display: flex;
    gap: 30px;
    margin-top: 60px;
  }

.hero__article {
  margin-bottom: 30px;
  padding: 28px 55px;
  overflow: hidden;
  background: none;
  border: 3px solid var(--orange);
  background: #52525271;
}

.hero__article__area {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.hero__article__area__tel, .hero__article__area__clock {
  align-self: center;
}

.fa-phone-square{
  font-size: 42px;
  color: var(--orange);
}

.hero__article__area__clock .fa-clock-o  {
  font-size: 42px;
  color: var(--orange);
}

.hero__article__area__mes .fa-envelope {
  font-size: 42px;
  color: var(--orange);
}

.hero__article__area__info {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;

}

.hero__article__area__info span {
  font-size: 26px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
.hero__article__area__info a {
  font-size: 22px;
  font-weight: 900;
  color: var(--black);
  transition: all 0.2s ease-in-out;
}

.hero__article:hover a {
  color: #C4C4C4;
}
