.pesok-karierny {
  font-size: 18px;
  font-weight: 100;
}

.block-product {
  display: flex;
  justify-content: space-between;
  margin:0 0px 30px 0px;
  gap: 15px;
}

.block-product__img {
  display: flex;
  background-image: url("/img/pesokrarierny.jpg");
  background-size: cover;
  width: 400px;
  height: 400px;

}

.block-product__img__img {
  align-self: flex-end;
  text-align: center;
  padding: 20px;
  margin: 15px;
  font-size: 24px;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.5);
}

.block-product__desk__info__title {
  font-size: 22px;
  margin-bottom: 30px;
}

.block-product__desk__info__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 100;
}

.block-product__desk__info__list__item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.block-product__desk {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block-product__desk__button {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.block-product__desk__button__left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block-product__desk2 {
  display: flex;
}

.block-product__desk2__list {
  background-color: rgba(128, 128, 128, 0.1);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
  padding: 30px;
  flex-grow: 1;
}

.block-product__desk2__list__item {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.block-product__desk2__list__right {
  font-size: 14px;
  font-weight: 100;
  white-space: nowrap;
}

.fa-check {
  color: #34c924;
}

.block-product__desk__button__left__text {
  font-weight: 100;
}

.block-product__desk__button__left__price {
  font-size: 22px;
}

.block-product__desk__info__list__item__par {
  font-size: 18px;
}

.advantage-pesok__content__list {
  background-color: rgba(255, 166, 0, 0.1);
  margin-bottom: 30px;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  justify-content: space-around;


}

.advantage-pesok__content__list__item {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.advantage-pesok__content__list__item__img {
  display: flex;
  background-color: hsla(114, 70%, 46%, 0.8);
  width: 55px;
  height: 55px;
  border-radius:10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}

.advantage-pesok__content__list__item__img i {
  color: white;
  font-size: 28px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -50%;
  right: -50%;
  top: 13px;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.advantage-pesok__content__list__item__text {
  white-space: wrap;
}

.advantage-pesok__text {
  margin: 60px 0;
  font-size: 22px;
  font-weight: 100;
}

.advantage-pesok__price__text {
  margin: 30px 0;
  font-weight: 100;
}

.advantage-pesok__desc__content__list {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.advantage-pesok__desc__map__right {
 margin-bottom: 60px;
}

.advantage-pesok__desc__map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantage-pesok__desc__map__left {
  width: 40%;
}

.advantage-pesok__desc__map__left__button {
  margin-top: 30px;
}

