.sert__title {
  margin-bottom: 60px;
}

.sert__img img {
 max-height: 500px;
}

.sert__content {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.sert__left__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}

.sert__left__list li::before{
  margin-right: 30px;
  content: "";
  background: url(/img/galkaor.svg) no-repeat;
  position: relative;
  float: left;
  width: 64px;
  height: 64px;
}

.sert__left__list li p {
  white-space: nowrap;

}
